.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* one rem is equlas to 16px */
    padding: 1rem 2rem; 
    background-color: black;
    color: #fff;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }

  .navbar-button {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .navbar-button:hover {
    background-color: #0d2237;
  }
  